@import '../../styles/item.scss';

.menuItem {
  @extend %item;
  background-color: #a78881;

  h3 {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.employeeItem {
  @extend %item;
  background-color: #c6a17e;

  h3 {
    display: inline-block;
  }
}