@import '../../styles/button.scss';

.container {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 0 1rem;
  background-color: #f5f1ee;
  text-align: center;
}

.menuName {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.875rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #2f2f2f;

  input {
    width: 80%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: 2.5px;
    font-weight: 600;
  }
}


.addButton {
  @extend %button;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &:hover {
    background-color: #ab888e;
  }
}

.responsiveMessage {
  color: #2f2f2f;
  margin-top: 6rem;
  @media (min-width: 654px) {
    display: none;
  }
}

