@import '../../styles/link.scss';

.menuLink {
  @extend %link;
  background-color: #a78881;

  h3 {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.employeeLink {
  @extend %link;
  background-color: #c6a17e;

  h3 {
    display: inline-block;
  }
}