.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #f3f3f3;

  &__heading {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    color: #7e5a61;
  }

  %item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 157px;
    min-height: 157px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.5);
    text-align: center;
    word-break: break-word;
    font-size: 1.125rem;
    transition: .25s;

    &:hover {
      opacity: 0.8;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;

    &__item--menu {
      @extend %item;
      background-color: #a78881;

      h3 {
        display: inline-block;
        margin-bottom: 1rem;
      }
    }

    &__item--employee {
      @extend %item;
      background-color: #c6a17e;

      h3 {
        display: inline-block;
      }
    }
  }

  .button {
    padding: .5rem 1.5rem;
    margin: 1.5rem 0;
    font-size: 1rem;
    border-radius: 67px;
    background-color: #7e5a61;
    transition: .25s;
  }

  .button:hover {
    background-color: #ad9696;
  }
}