@import '../../styles/button';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #f3f3f3;
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #7e5a61;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.addButton {
  @extend %button;
  padding: .5rem 1.5rem;
  margin: 1.5rem 0;
  font-size: 1rem;

  &:hover {
    background-color: #ad9696;
  }
}