%button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 67px;
  margin-right: .33rem;
  background-color: #7e5a61;
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  color: #fff;
  transition: .25s;
  border: none;
  cursor: pointer;
}